.slider-card {
   position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* .slider-card.active {
  width: 34rem !important;
  height: 23rem !important;
} */

.slider-card .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-card.active .overlay {
  opacity: 1;
  transition: bottom 0.5s ease;
}

.slider-card .vertical-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    text-align: center;
    pointer-events: none; /* Prevent interaction with the vertical info when it's not active */
  }
  
  .slider-card .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  

.slider-card .role {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

.slider-card:hover {
  transform: scale(1.05);
}
