.slider-card {
  position: relative;
  background-size: cover;
  background-position: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center center;
  height: 35rem;
}

.slider-card:hover {
  transform: scale(1.1);
  opacity: 1;
}

.slider-card .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slider-card.hovered .overlay,
.slider-card:hover .overlay {
  opacity: 1;
}

.slider-card .vertical-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  text-align: center;
  pointer-events: none;
  /* transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; */
  background: rgba(0, 0, 0, 0.5); /* Subtle background for contrast */
  padding: 0.5rem 1rem; /* Padding for better spacing */
  border-radius: 0.5rem; /* Rounded corners */
}
.slider-card .vertical-info .title {
  font-size: 1.75rem; /* Increase font size for visibility */
  font-weight: bold;
  color: white; /* Ensure text color stands out */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add shadow for better readability */
  text-transform: uppercase;
  margin: 0; /* Reset default margin */
}

.slider-card:hover .vertical-info {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 0;  
}
