.swiperContainer{
  width: 100vw;
  max-width: 100%; 
  margin-left:0px !important;
}
.slider-card {
  position: relative;
  background-size: cover;
  background-position: center;

  text-transform: uppercase;
  transition: transform 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
  transform-origin: center center;
}





.slider-card .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.35);
  color:#FFFFF0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-bottom: 3rem;

}

.slider-card.hovered .overlay,
.slider-card:hover .overlay {
  opacity: 1;
}

.slider-card .vertical-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  text-align: center;
  pointer-events: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

}

.slider-card .vertical-info .title {
  font-size: 1.75rem;
  font-weight: bold;


  text-transform: uppercase;
  margin: 0;
}

.slider-card:hover .vertical-info {
  transform: translate(-50%, -50%) rotate(0deg);
  
}
