/* style.css */
.swiper {
  width: 80vw; 
  margin: 0 auto; 
  margin-left: 19%;
  position: relative;
  padding-bottom: 40px; 
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    transition: transform 0.3s ease-in-out;
  
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 10px;
 
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
  }
  
  .card-text {
    position: absolute;
    bottom: 28px;
    left: 0;
    width: 100%;

    text-align: center;
    background: rgba(0, 0, 0, 0.35); 
  }
  
  
  .card:hover {
    transform: scale(1.05);
  }






  .mySwiper .swiper-pagination {
    position: absolute;
    bottom: 10px; 
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10; 
  }
  
  .mySwiper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: #ffffff; 
    opacity: 0.8; 
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    background-color: #F49D2A; 
    opacity: 1; 
  }
  


  /* Responsive Styles */
@media (max-width: 2560px) {
  .swiper {
    height: 60vh; 
  }
}

@media (max-width: 1910px) {
  .swiper {
    height: 50vh; 
  }
}
@media (min-width: 1880px) and (max-width: 1536px) {
  .swiper {
    height: 52vh; 
    margin-left: 10%; 
  }
}
@media (max-width: 799px) {
  .swiper {
    margin-left: 0; 
    width: 100vw; 
    height: 32vh; 
    padding-bottom: 30px; 
  }
  
  .card-text {
    bottom: 8px;
  }
}

@media (max-width: 480px) {
  .swiper {
    height: 25vh; 
    padding-bottom: 20px; 
  }
}

 

