/* style.css */
.swiper {
  width: 80vw; 
  margin: 0 auto; 
  margin-left: 19%;
  position: relative;
  padding-bottom: 40px; 
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    transition: transform 0.3s ease-in-out;
  
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 10px;
 
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
  }
  
  .card-text {
    position: absolute;
    bottom: 28px;
    left: 0;
    width: 100%;

    text-align: center;
    background: rgba(0, 0, 0, 0.35); 
  }
  
  
  .card:hover {
    transform: scale(1.05);
  }






  .mySwiper .swiper-pagination {
    position: absolute;
    bottom: 10px; 
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10; 
  }
  
  .mySwiper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: #ffffff; 
    opacity: 0.8; 
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    background-color: #F49D2A; 
    opacity: 1; 
  }
  


 /* Responsive Styles */

/* Large Screens (2560px and above) */
@media (min-width: 2560px) {
  .swiper {
    height: 60vh;
    margin-left: 19%; 
  }
}

/* Desktop Screens (1920px to 2560px) */
@media (min-width: 1920px) and (max-width: 2559px) {
  .swiper {
    height: 60vh;
    margin-left: 19%;
  }
}

/* Medium Screens (1280px to 1919px) */
@media (min-width: 1280px) and (max-width: 1919px) {
  .swiper {
    height: 52vh;
    margin-left: 19%;
  }
}

/* Small Desktops and Tablets (800px to 1279px) */
@media (min-width: 800px) and (max-width: 1279px) {
  .swiper {
    height: 45vh;
    width: 80vw;
   
  }
}

/* Tablets and Small Devices (480px to 799px) */
@media (min-width: 480px) and (max-width: 799px) {
  .swiper {
    width: 100vw;
    height: 45vh;
    margin-left: 0;
    padding-bottom: 30px;
  }

  .card-text {
    bottom: 8px;
  }
}

/* Mobile Devices (Below 480px) */
@media (max-width: 479px) {
  .swiper {
    width: 100vw;
    height: 35vh;
    margin-left: 0;
    padding-bottom: 20px; 
  }

  .card-text {
    bottom: 5px;
  }
  .card{
    margin: 5px;
  }
}

 


 

