/* style.css */
.swiper {
  width: 80vw; 
  height: 100%;
 
  margin: 0 auto; 
  margin-left: 19%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 498px;
    margin: 10px;

    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
  }
  
  .card-text {
   
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 360px; /* Push the text  bottom */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  

